API_KEY = "your_api_key"
WORK_LATITUDE = "work_latitude"
WORK_LONGITUDE = "work_longitude"
HOME_LATITUDE = "home_latitude"
HOME_LONGITUDE = "home_longitude"

POWERSHELL_PATH = "/mnt/c/path/to/powershell.exe"
POWERSHELL_SCRIPT = "C:\\windows\\path\\to\\show_notification.ps1"